.popup-back {
    display: none;
    position: fixed;
    z-index: 123;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    animation-name: animation;
    animation-duration: 0.6s
}

.popup-div {
    display: flex;
    margin-bottom: 500px;
    background-color: #ffffff;
    width: 730px;
    height: 385px;
    margin: 0 auto;
}

.popup-iframe {
    position: absolute;
    margin-bottom: 500px;
    background-color: #ffffff;
    width: 730px;
    height: 385px;
    margin: 0 auto;
}

@keyframes animation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.loader {
    display: none;
    z-index: 100;
    position: relative;
    top: 30%;
    left: 40%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
}

.loader_animate {
    display: inline-block;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
